.MuiPaper-root.MuiPaper-elevation {
    background-color: black !important;
}
.MuiPaper-root.MuiToolbar-gutters{
    background-color: black !important;

}

main.css-ma2b11 {
    padding: 0;
    padding-top: 30px;
}

main.css-1moj2a2 {
    padding: 0;
    padding-top: 30px;
}